main
{
    text-align: center;
    font-size: x-large;
    padding: 20px;
}
h1
{
    font-size: 30px;
}
body
{
    margin: 0px;
    background-color: rgba(180, 252, 217, 0.52);
}
.languageButton
{
    min-width: 100px;
    min-height: 100px;
    background-color: rgba(75,75,75,0.77);
    float: left;
    margin: 10px;
}
