<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}?rand=23423423" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block head %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <a href="http://{{ request.get_host }}" class="brand-logo center">Logo</a>
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="waves-effect waves-light btn" role="button" href="/accounts/logout">Wyloguj się</a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" role="button" href="/accounts/profile">Moje Konto</a>
                    </li>
                {% else %}
                    <li>
                        <a class="waves-effect waves-light btn" role="button" href="/accounts/login">Zaloguj się</a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn" role="button" href="/accounts/register">Zarestruj się</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container row col s12" style="">
            {% block body %}
            {% endblock %}
        </div>
    </main>
</body>
</html>