<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css?v=1.1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% block head %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
    {% if userIsLogged %}
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/accounts/logout">Wyloguj się</a>
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/">Moje Konto</a>

    {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/accounts/login">Zaloguj się</a>
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/accounts/register">Zarestruj się</a>
    {% endif %}
    </nav>
</header>
<main>
    <div class="container col-12" style="text-align: center">
        {% block body %}
        {% endblock %}
    </div>
</main>
</body>
</html>